@import "./variables";
@import "./background";
@import "./footer";
@import "./popup";
@import "./offer-cards";
// @import url('https://fonts.cdnfonts.com/css/atteron-personal-use');


#intro-section{
    @include flexBox(center);
    flex-direction: column;
    height: 100%;
    width: 100%;
    margin: 20px auto;
    color: $colorText;

    text-align: center;
    h1{
        font-size: $fontXXLarge;
        text-shadow: $colorBackground 0 0 30px;
    }
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Georgia', 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', sans-serif;
    background-color: transparent;
    line-height: 1.6;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}


// html{
//     min-width: 100vw;
//     min-height: 100vh;  
//     background-color: $colorBackground;  
// }

body {
    min-height: 100vh;
    background-color: $colorBackground;
    color: $colorText;
}

main{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    padding: 4rem 2rem;
    max-width: 1600px;
    margin: auto;

    min-height: calc(100vh - 4rem);

    .intro{
        text-align: center;

        img{
            // height: 40vh;
            width: 40vh;
            border-radius: 100%;
            border-width: 5px;
            border-color:$colorPrimary;
        }

        h1.title{
            font-size: $fontXXLarge;
            line-height: 1;
        }
    }

    p{
        padding:1rem;
        font-size: $fontSmall;
        width: 100%;

        &.intro{
            @media screen and (max-width: $screenSmall){
                display: none;
            }
        }
    }
}

.cursive{
    font-family: 'Lucida Handwriting', 'Lucida Calligraphy', 'Apple Chancery', 'cursive','Brush Script Std', 'Brush Script MT' ;
    font-size: $fontLarge;
}



a{
    color: $colorText;
    text-decoration: none;
    // font-family:Verdana, Geneva, Tahoma, sans-serif;
    &:hover{
        background-color: $colorBackground;
        color:$colorPrimary;
    }
}

@keyframes fade-in {
    from {
        opacity: 0;
        transform: scale(0.7,0.7)
    }
    to {
        opacity: 1;
    }
}

.fade-transition {
    transition: all 0.2s ease-in-out;
    opacity: 0;
}

.faded {
    animation: fade-in 0.3s;
    opacity: 1;
}

section.section{
    width: 80%;
    min-width: 400px;
    margin: 2vh auto;
    padding: 5vh 5vw;
    background-color: $colorPrimary;
    border-radius: 20px;
}

section.disclaimer{
    // width: 90%;
    max-width: 1600px;
    margin: 0 auto;
    padding: 0 4vw;
    // padding: 10px;
    // background-color: transparent;
    // border-radius: 20px;
    
    h2{
        text-shadow: $colorPrimary;
        font-size: $fontXSmall;
        // padding: 3px;
        padding-bottom: 0;
    }
    p{
        font-size: $fontXXSmall;
        margin: 0;
        // padding: 5px;
        line-height: 1.8;
    }

    a{
          
        // color: $colorText;

        div{
            padding: 5px;
            border-radius: 5px;
            background-color: inherit;
        }

        &:hover{
            background-color: rgba(var(--colorPrimaryRGB), 0.5);
            color: $colorBackground;
            transition: all 0.1s ease-in-out;
        }
    }


}