@import "./variables";

#intro-section{
    @include flexBox(center);
    flex-direction: column;
    height: 50%;
    width: 100%;
    margin: 25vh auto;
    color: $colorPrimary;

    text-align: center;
    h1{
        font-size: $fontXXLarge;
        text-shadow: $colorPrimary 0 0 30px;
    }
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', sans-serif;
    background-color: transparent;
    line-height: 1.6;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}


html{
    min-width: 100vw;
    min-height: 100vh;    
}

body{
    background: radial-gradient($colorBackground 70%, $colorPrimary)
}